<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libreria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="navbar">
        <nav class="container">
            <a class="nav-logo" asp-controller="Home" asp-action="Elenco">LIBRERIA</a>
            <div class="nav-container">
                <ul class="nav-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Elenco">Home</a>
                    </li>
                </ul>
                <ul class="nav-items">
                    @if (Context.Items["AuthUser"] is null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Index">Accedi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Registrazione">Registrati</a>
                        </li>
                    }
                    else
                    {
                        if (ViewBag.User.Ruolo == "Amministratore")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Libro" asp-action="AggiungiLibri">Aggiungi Libro</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Profilo">Profilo</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <main class="h-100">
        <div class="h-100 container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="container">
            Progetto Libreria - Gruppo 3
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
