@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <ul>
        <li><a href="/Home/Index">Home</a></li>
        <li><a asp-controller="Login" asp-action="Accesso">Accesso</a></li>
        <li><a href="#">Ciao</a></li>
        <li><a href="#">Ciaone</a></li>
    </ul>
</nav>

