@section Scripts
    {
    <script src="~/js/Login/ControlliLogin.js"></script>
}

<section class="auth-container">
    <div class="auth-card">
        <h1 class="auth-title">Accedi al tuo account</h1>
        <form action="/Login/Valida" onsubmit="return controlla_login()" method="POST">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" placeholder="Inserisci l'email" />
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" id="pass" name="pass" placeholder="Inserisci la password" />
            </div>
            <div class="form-buttons justify-end">
                <button type="submit" class="btn-primary">Accedi</button>
            </div>
            <div class="form-links">
                <a href="/Login/Registrazione">Non hai un account? Registrati</a>
                <a href="/Login/Registrazione">Non ricordi la password? Recupera le credenziali</a>
            </div>
        </form>
    </div>
</section>