@using Libreria.Models
@model List<Utente_Libro>
@{
    ViewData["Title"] = "Il tuo profilo";
    Utente? user = ViewBag.User;
}

<section>
    <div class="card">
        <div class="flex gap-8">
            <div>
                <svg width="19.5" height="19.5" fill="currentColor" viewBox="0 0 19.5 19.5"
                    xmlns="http://www.w3.org/2000/svg" class="w-52 h-52">
                    <path
                        d="m16.435 16.847a9.723 9.723 0 0 0 3.065-7.097c0-5.385-4.365-9.75-9.75-9.75-5.385 0-9.75 4.365-9.75 9.75a9.723 9.723 0 0 0 3.065 7.097 9.716 9.716 0 0 0 6.685 2.653 9.716 9.716 0 0 0 6.685-2.653zm-12.54-1.285a7.486 7.486 0 0 1 5.855-2.812 7.486 7.486 0 0 1 5.855 2.812 8.224 8.224 0 0 1-5.855 2.438 8.224 8.224 0 0 1-5.855-2.438zm9.605-8.812a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0z"
                        clip-rule="evenodd" fill-rule="evenodd" />
                </svg>
            </div>
            <div class="flex-grow grid profile-grid-rows">
                <div>
                    <div class="flex items-center justify-between">
                        <h1 class="text-3xl text-orange-950">@user?.Nome</h1>
                        <small class="text-gray-600 font-semibold">Codice utente: @user?.Id</small>
                    </div>
                    <div class="flex items-center gap-2 font-semibold">
                        <small>@user?.Email</small>
                        <small>&middot;</small>
                        <small>@user?.Ruolo</small>
                    </div>
                </div>
                <div class="flex justify-end">
                    <a href="/Login/Logout" class="btn-secondary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    @foreach (var v in Model)
    {
        <p>v.Libro.Titolo</p>
    }
</section>
